@{
    ViewData["Title"] = "Admin";
}

<div class="container mt-5 rounded shadow-lg" style="padding: 0px">
    <h3 class="p-3 text-white bg-primary mb-0 rounded-top">Admin</h3>

    <div class="bg-white p-5">
        <div class="d-block"><a class="mb-3 w-25 btn btn-primary" asp-controller="Admin" asp-action="EditExams">Edit Exams</a></div>
        <div class="d-block"><a class="mb-3 w-25 btn btn-primary" asp-controller="Admin" asp-action="EditUsers">Edit Users</a></div>
    </div>
</div>