@model LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<main class="form-signin p-5 bg-white shadow-lg rounded">
    <form asp-action="Login" method="post">
        <div class="bg-primary mx-auto mb-3 d-flex justify-content-center" style="width: 72px; height: 72px; border-radius:  50%;">
            <i class="fa fa-user-o text-white align-self-center" style="font-size: 32px"></i>
        </div>

        <h1 class="h3 mb-3 fw-normal text-center">Sign In</h1>

        <div class="mb-3">
            <input asp-for="Email" class="form-control" type="email" id="input-email" aria-describedby="emailHelp" placeholder="Email address" required>
        </div>

        <div class="mb-3">
            <input asp-for="Password" class="form-control" type="Password" id="input-password" aria-describedby="passwordHelp" placeholder="Password" required>
        </div>
        
        <button class="w-100 btn btn-primary" type="submit">Login</button>
    </form>
</main>