.main {
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

.image {
  height: 200px;
  width: 200px;
  font-size: 25px;
  margin: 10px;
  display: inline-block;
  line-height: 100px;
}

.image-container {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
